In [ ]:
# api_source = https://developers.themoviedb.org/3/getting-started/introduction

In [1]:
api = '?api_key=68b6cf96a3586cb114c084cf332dd835'

In [2]:
url = 'https://api.themoviedb.org/3/movie/'

In [3]:
import urllib.request

In [4]:
a= url + '100' + api
b= urllib.request.urlopen(a)
json_str = b.read().decode("utf-8")

In [5]:
json_str

'{"adult":false,"backdrop_path":"/tY6zVyt0OubPgCapbXFJLKhQqSu.jpg","belongs_to_collection":null,"budget":1350000,"genres":[{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"}],"homepage":"http://www.universalstudiosentertainment.com/lock-stock-and-two-smoking-barrels/","id":100,"imdb_id":"tt0120735","original_language":"en","original_title":"Lock, Stock and Two Smoking Barrels","overview":"A card shark and his unwillingly-enlisted friends need to make a lot of cash quick after losing a sketchy poker match. To do this they decide to pull a heist on a small-time gang who happen to be operating out of the flat next door.","popularity":7.81,"poster_path":"/8kSerJrhrJWKLk1LViesGcnrUPE.jpg","production_companies":[{"id":491,"logo_path":"/rUp0lLKa1pr4UsPm8fgzmnNGxtq.png","name":"Summit Entertainment","origin_country":"US"},{"id":21920,"logo_path":null,"name":"The Steve Tisch Company","origin_country":""},{"id":13419,"logo_path":null,"name":"SKA Films","origin_country":""},{"id":1382,"logo_path":"/sOg7LGESPH5vCTOIdbMhLuypoLL.png","name":"PolyGram Filmed Entertainment","origin_country":"US"},{"id":20076,"logo_path":"/i9qXGJIP9fGN22PP5jXUVENbyHi.png","name":"HandMade Films","origin_country":"GB"}],"production_countries":[{"iso_3166_1":"GB","name":"United Kingdom"}],"release_date":"1998-03-05","revenue":28356188,"runtime":105,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"A Disgrace to Criminals Everywhere.","title":"Lock, Stock and Two Smoking Barrels","video":false,"vote_average":8.2,"vote_count":4884}'

In [6]:
import json
json_object = json.loads(json_str)

In [7]:
json_object['adult']
json_object['genres']
json_object['original_title']

'Lock, Stock and Two Smoking Barrels'

In [8]:
from pandas.io.json import json_normalize
import pandas as pd

In [11]:
movie_list = pd.DataFrame(columns=['adult','genres','original_title'])

In [12]:
movie_list

Empty DataFrame
Columns: [adult, genres, original_title]
Index: []

In [13]:
for i in range(100,110):
    a= url + str(i) + api
    b= urllib.request.urlopen(a)
    json_str = b.read().decode("utf-8")
    json_object = json.loads(json_str)
    adult = json_object['adult']
    genres = json_object['genres']
    original = json_object['original_title']
    movie_list.loc[i] = [adult,genres,original]

In [14]:
movie_list

     adult  ...                       original_title
100  False  ...  Lock, Stock and Two Smoking Barrels
101  False  ...               Léon: The Professional
102  False  ...                 Elsker dig for evigt
103  False  ...                          Taxi Driver
104  False  ...                           Lola rennt
105  False  ...                   Back to the Future
106  False  ...                             Predator
107  False  ...                               Snatch
108  False  ...                Trois couleurs : Bleu
109  False  ...               Trois couleurs : Blanc

[10 rows x 3 columns]